# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# Brainfuck project extras
*.bfc

# Project files to ignore
sync.py
.iserv_sync_temp
